.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-template-areas: 
        "header"
        "section"
        "section"
        "product"
        "product"
        "product"
        "footer";
}
button {
    font-size: 20px;
}
/* HEADER FLEX */
#header {
    grid-area: header;
    padding: 20px;
    background-color: rgb(209, 0, 28);
}
.header-top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    font-size: 40px;
}
.header-input label {
    font-size: 20px;
}
.header-input input {
    font-size: 20px;
}
.navbar-ul {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.navbar-li a {
    text-decoration: none;
    padding: 0 50px;
    font-size: 25px;
    color: yellow;
}
.navbar-li a:hover {
    cursor: pointer;
    color: aqua;
    text-decoration: underline;
}
/* NEWS FLEX */
.section {
    grid-area: section;
    background-image: url(../pictures/background.jpg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}
h2 {
    font-size: 30px;
    color: yellow;
    font-weight: 900;
}
.section-sale-label {
    font-size: 28px;
    color: yellow;
    font-weight: 900;
    transition: transform .2s;
}
.section-sale-label:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.5);
    color: aqua;
}
.section-button {
    margin: 10px;
}
/* MAIN CONTENT GRID */
.main-content {
    grid-area: product;
    margin: 0 20px;
}
.main-content-hoodies {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
}
.main-content-hoodie {
    background-image: url(../pictures/hoodie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-content-ul {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
        "one one two three"
        "one one four five"
        "six seven eight eight"
        "nine ten eight eight";
}
.main-content-li {
    margin: 10px;
    background-image: url(../pictures/hokage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    display: flex;
    align-items: flex-end;
}
.main-content-li a {
    text-decoration: none;
    padding: 5px;
    color: yellow;
    font-size: 25px;
}
.main-content-li a:hover {
    text-decoration: underline;
    color: aqua;
}
.main-content-li:nth-child(1) {
    grid-area: one;
}
.main-content-li:nth-child(2) {
    grid-area: two;
}
.main-content-li:nth-child(3) {
    grid-area: three;
}
.main-content-li:nth-child(4) {
    grid-area: four;
}
.main-content-li:nth-child(5) {
    grid-area: five;
}
.main-content-li:nth-child(6) {
    grid-area: six;
}
.main-content-li:nth-child(7) {
    grid-area: seven;
}
.main-content-li:nth-child(8) {
    grid-area: eight;
}
.main-content-li:nth-child(9) {
    grid-area: nine;
}
.main-content-li:nth-child(10) {
    grid-area: ten;
}
/* FOOTER FLEX */
.footer {
    grid-area: footer;
    background-color: rgb(209, 0, 28);
    display: flex;
    justify-content: space-between;
}
.footer-contacts {
    padding: 50px;
}
h4 {
    font-size: 25px;
    color: aqua;
    padding-bottom: 20px;
}
.footer-contacts-li {
    padding-bottom: 30px;
}
.footer-contacts-li a {
    text-decoration: none;
    font-size: 18px;
    color: yellow;
}
.footer-contacts-li a:hover {
    color: aqua;
    text-decoration: underline;
}
.footer-socials {
    padding: 50px;
}
.footer-social-icons img {
    width: 50px;
    padding: 0 20px;
}
/* GO UP  */
.goup {
    position: fixed;
    background-color: black;
    width: 60px;
    height: 20px;
    padding: 1px 0 0 3px;
    z-index: 99999;
    bottom: 100px;
    right: 50px;
}
.goup a {
    text-decoration: none;
    color:white;
    font-size: larger;
}
.goup a:hover {
    background-color: white;
    color:black;
}
/* RESPONSIVE */
.navbar-responsive {
    display: none;
}
.main-content-responsive {
    display: none;
}
@media  (max-width: 1024px) {
    #header {
        background-color: purple;
    }
    .navbar {
        display: none;
    }
    .navbar-responsive {
        display: inherit;
    }
    .navbar-ul-responsive {
        display: flex;
        justify-content: center;
        padding: 100px 0;
    }
    .navbar-li-responsive a {
        text-decoration: none;
        padding: 0 50px;
        font-size: 25px;
        color: aqua;
    }
    .navbar-li-responsive a:hover {
        cursor: pointer;
        color: yellow;
        text-decoration: underline;
    }

}
@media (max-width: 768px) {
    .section {
        background-image: url(../pictures/background-responsive.jpg);
    }
    h2 {
        font-size: 30px;
        color: aqua;
        font-weight: 900;
    }
    .section-sale-label {
        font-size: 28px;
        color: aqua;
        font-weight: 900;
        transition: transform .2s;
    }
    .section-sale-label:hover {
        cursor: pointer;
        text-decoration: underline;
        transform: scale(1.5);
        color: yellow;
    }
}
@media (max-width: 375px) {
    .main-content {
        display: none;
    }

    .main-content-responsive {
        display: inherit;
        grid-area: product;
        margin: 0 20px;
    }
    .main-content-hoodies-responsive {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 0.3fr;
        grid-auto-rows: 175px;
    }
    .main-content-hoodie-responsive {
        background-image: url(../pictures/hoodie-responsive.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-content-ul-responsive {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 0.5fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
            "nine"
            "ten";
    }
    .main-content-li-responsive {
        background-image: url(../pictures/hokage.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover ;
        display: flex;
        align-items: flex-end;
    }
    .main-content-li-responsive a {
        text-decoration: none;
        padding: 5px;
        color: aqua;
        font-size: 15px;
    }
    .main-content-li-responsive a:hover {
        text-decoration: underline;
        color: yellow;
    }
    .main-content-li-responsive:nth-child(1) {
        grid-area: one;
    }
    .main-content-li-responsive:nth-child(2) {
        grid-area: two;
    }
    .main-content-li-responsive:nth-child(3) {
        grid-area: three;
    }
    .main-content-li-responsive:nth-child(4) {
        grid-area: four;
    }
    .main-content-li-responsive:nth-child(5) {
        grid-area: five;
    }
    .main-content-li-responsive:nth-child(6) {
        grid-area: six;
    }
    .main-content-li-responsive:nth-child(7) {
        grid-area: seven;
    }
    .main-content-li-responsive:nth-child(8) {
        grid-area: eight;
    }
    .main-content-li-responsive:nth-child(9) {
        grid-area: nine;
    }
    .main-content-li-responsive:nth-child(10) {
        grid-area: ten;
    }
    h4 {
        font-size: 25px;
        color: yellow;
        padding-bottom: 20px;
    }
    .footer-contacts-li {
        padding-bottom: 30px;
    }
    .footer-contacts-li a {
        text-decoration: none;
        font-size: 18px;
        color: aqua;
    }
    .footer-contacts-li a:hover {
        color: yellow;
        text-decoration: underline;
    }
}
